@page "/admin/productlist"
@inject IProductService ProductService
@inject NavigationManager NavigationManager
@attribute [Authorize (Roles = "Administrator")]

<h3>Products</h3>

@if (ProductService.Products == null)
{
    <span>Loading Products...</span>
}
else
{
    <button class="btn btn-primary float-end" @onclick="CreateProduct">
        <i class="oi oi-plus"></i> Add new product
    </button>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th>Price</th>
                <th>In Stock</th>
                <th>Edit</th>
                <th>Delete</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <Virtualize Items="ProductService.Products" Context="product">
                <tr>
                    <td><img src="@product.ImageUrl" class="image" /></td>
                    <td>@product.Name</td>
                    <td>@product.Price/@(product.IsWeightable ? "kg" : "st")</td>
                    <td>@(product.InStock ? "Yes" : "No")</td>
                    <td>
                        <button class="btn btn-primary" @onclick="(() => EditProduct(product.Id))">
                            <i class="oi oi-pencil"></i>
                        </button>
                    </td>
                        <td>
                        <button class="btn btn-warning" @onclick="(() => DeleteProduct(product.Id))">
                            <i class="oi oi-trash"></i>
                        </button>
                    </td>
                </tr>
            </Virtualize>
        </tbody>
    </table>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await ProductService.GetProducts();
    }

    void EditProduct(int productId)
    {
        NavigationManager.NavigateTo($"admin/updateproduct/{productId}");
    }

    void CreateProduct()
    {
        NavigationManager.NavigateTo("admin/createproduct");
    }

    private async Task DeleteProduct(int id)
    {
        await ProductService.DeleteProductAsync(id);
        await ProductService.GetProducts();
        NavigationManager.NavigateTo(NavigationManager.Uri, true);
    }
}