@inject ISyncLocalStorageService LocalStorage
@implements IDisposable
@inject ICartService CartService

<a href="cart" class="btn btn-dark m-3">
    <i class="oi oi-cart"></i>
    <span class="badge">@GetItemsCount()</span>
</a>

@code {
    private int GetItemsCount()
    {
        var cart = LocalStorage.GetItem<List<CartItemDto>>("cart");
        return cart?.Count ?? 0 ;
    }

    protected override void OnInitialized()
    {
        CartService.CartChanged += StateHasChanged;
    }

    public void Dispose()
    {
        CartService.CartChanged -= StateHasChanged;
    }
}
