@page "/"
@page "/category/{category}"
@page "/search/{searchText}"
@inject IProductService ProductService

<PageTitle>Products</PageTitle>

@if (ProductService.Products is not null)
{
    <ProductPage />
}
<div class="d-flex fs-4 justify-content-center align-items-center">@message</div>


@code
{
    [Parameter]
    public string? category { get; set; }

    [Parameter]
    public string? searchText { get; set; }

    private string? message { get; set; }= string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        if (searchText != null)
        {
            await ProductService.GetProductBySearchText(searchText);
            message = ProductService.Products.Count == 0 ? $"No products found for '{searchText}', please check the spelling" : "";
        }
        else
        {
            await ProductService.GetProducts(category);
            message = string.Empty;
        }
    }
}
