@page "/"
@page "/category/{category}"
@page "/search/{searchText}"
@using WebbLabb2.Client.Services.ProductService
@using Microsoft.EntityFrameworkCore.Storage.ValueConversion.Internal
@inject IProductService productService

<PageTitle>Products</PageTitle>

<ProductPage />

<div class="alert alert-warning" role="alert">@message</div>

@code
{
    [Parameter]
    public string? category { get; set; } = null;

    [Parameter]
    public string? searchText { get; set; } = null;

    private string? message { get; set; }= string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        if (searchText != null)
        {
           var products = productService.GetProductBySearchText(searchText);
            if (products is null)
            {
                throw new InvalidOperationException("The products doesn't exist");
                
            }
        }
        else
        {
            var products = productService.GetProducts(category);
            if (products is null)
            {
                throw new InvalidOperationException("The product doesn't exist");
            }
        }
    }
}
