@page "/"
@page "/category/{category}"
@page "/search/{searchText}"
@using WebbLabb2.Client.Services.ProductService
@inject IProductService productService

<PageTitle>Products</PageTitle>

@if (productService.Products is not null)
{
    <ProductPage />
}
<div class="d-flex fs-4 justify-content-center align-items-center">@message</div>





@code
{
    [Parameter]
    public string? category { get; set; }

    [Parameter]
    public string? searchText { get; set; }

    private string? message { get; set; }= string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        if (searchText != null)
        {
            await productService.GetProductBySearchText(searchText);
            if (productService.Products.Count == 0)
            {
                message = $"No products found for '{searchText}' ";
            }
        }
        else
        {
            await productService.GetProducts(category);
            message = string.Empty;
        }

    }
}
