@page "/orders"
@inject IOrderService OrderService
@inject IAuthService AuthService
@inject AuthenticationStateProvider GetAuthenticationStateAsync

<h3>Orders by @user.FirstName @user.LastName</h3>

@if (orders == null)
{
    <span>Loading your orders...</span>
}
else if (orders.Count <= 0)
{
    <span>You have no orders, yet.</span>
}
else
{
    foreach (var order in orders)
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Order</h5>
                        <h6 class="card-subtitle">OrderId: @order.Id</h6>
                        <p class="card-text mb-3">Submitted: @order.DateTime.ToString("yyyy-MM-dd hh:mm:ss")</p>
                        <a href="order/@order.Id/detail" class="btn btn-primary">Check Details</a>
                    </div>
                </div>
            </div>
        </div>
    }
}

@code {
    [Parameter]
    public int userId { get; set; }

    List<OrderDto> orders = new ();
    UserProfileDto user = new ();

    protected override async Task OnInitializedAsync()
    {
        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        userId = int.Parse(authstate.User.FindFirst(ClaimTypes.NameIdentifier).Value);
        user = await AuthService.GetUserById(userId);
        orders = await OrderService.GetUserOrders(userId);
    }
}